/* fof2f8
a4b3e8
a3a5a8
0a0e27
7488da
2b43e1
41455b
d31204 */

:root {
    --white: #f0f2f8;
    --ivory-white:rgb(237, 246, 253);
    --light-gray-blue: #a4b3e8;
    --vlight-gray-blue: #bac4e7;
    --medium-gray: #a3a5a8;
    --dark-gray: #41455b;
    --black: #0a0e27;
    --light-blue: #7488da;
    --dark-blue: #2b43e1;
    --medium-blue: #5266e6;
    --red: #d31204;

    --primary-dark-bg:#0A043C;
    --accent-btn-purple:#311DDD;
    --accent-btn-hover:#3722f6;
    --primary-little-dark:#150975;

    --xlarge-font : 4rem;
    --large-font : 2rem;
    --medium-font : 1.25rem;
    --small-font : 0.9rem;
  }


*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}
body
{
    scroll-behavior:smooth;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: "Oxygen", 'Roboto', Arial, Helvetica, sans-serif;
}
.root
{
    display: block;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: fixed;
    width: 100%;
    z-index: 1;
    background:var(--primary-little-dark);
}
header .headings
{
    justify-content:space-evenly;
    align-items: center;
    background:var(--primary-little-dark);
    display: inline-flex;
}
.container {
    position: absolute;
    width: 60px;
    right: 10px;
    display: none;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    border-radius: 10%;
    background-color:var(--ivory-white);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  nav
  {
      transition: all 0.3s ease-in;
  }
.nav-bar
{
    list-style: none;
    transition: all 0.3s ease-in;
}
.nav-bar li
{
    display: inline-block;
    padding: 0px 15px;
   
    
    
}
.nav-bar li a{
    font-size: 1rem;
    text-decoration: none;
    justify-content: space-between;
    color: var(--ivory-white);
    transition: all 0.3s ease-in;

}
.nav-bar li a:hover{
   
    color:var(--medium-blue);
    
}
dl, ol, ul,h4 {
    margin-top: 0;
    margin-bottom: 0rem;
}
.org
{
    height: 50px;
    width: 55px;
}
.hamburger
{
    display:block;
    background-image: url(../public/images/hamburger.jpg);
    height: 2em;
    width: 2em;
}


@media  screen and (max-width:650px)
{
    header
    {
        display: block;
        background: var(--primary-little-dark);
    }

    header .headings{
        background: var(--primary-little-dark);
    }

    .headings h3{
        padding: 0 0 0em 0;
        font-size: 1.65rem;
        justify-items: center;
        text-align: center;
    }
    .home
    {
        position: relative;
        top:3em;
    }
    .container
    {
        display: inline-block;
    }
    .nav-bar
    {
        align-content: center;
        text-align: center;
        padding: 0;
        display: none;
        transition: all 0.3s ease-in;
        
    }
    .nav-bar li {
        align-content: center;
        display: block;
        background-color: var(--primary-little-dark);
        padding: 0.3em 0 0.3em 0;
        transition: all 0.3s ease-in;
    }
    .nav-bar li:hover
    {
        border: 1px solid var(--white);
    }


}
/*-----------------------------End of Navbar Div-----------------------------------------*/
/* ----------------------------- Home division ------------------------------------------*/

.home{
    height: 100vh;
    display: flex;
    background-color: var(--primary-dark-bg);
    color: #fff;
}
.home .home-illustration{
    display: grid;
    place-content: center;
    margin-top: 10vh;
    margin-left: 6vw;
}

.home .home-illustration img{
    height: 55vh;
    width: 40vw;
}
.intro{
    padding-left: 10vw;
}

.intro h1{
    font-family: 'Oxygen', sans-serif;
    font-size: 3rem;
    margin-top: 27.5vh;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 5rem;
    animation: 1.15s ease-in-out 0s 1 slidefrombottom;
}

@keyframes slidefrombottom{
    0%{
        clip-path:inset(100% 0% 0% 0%);
    }
    100%{
        clip-path:inset(0% 0% 0% 0%);
        }
}

.intro p{
    margin-top: 7vh;
    font-size: var(--medium-font);
    line-height: 2rem;
}

.home .btn{
    width: 20vw;
    height: 8vh;
    padding: auto;
    margin-top: 5vh;
    background-color: var(--accent-btn-purple);
    color: #fff;
    border:1px solid var(--accent-btn-purple);
    font-size: 1.5rem;
    transition: 1s ease-in hover;
}
.home .btn:hover{
    background-color: var(--accent-btn-hover);
    border:1px solid var(--accent-btn-hover);
}



@media  screen and (max-width:1100px)
{
    .home{
        display: grid;
        place-content: center;
        background-image: url(/images/mobilebg.svg);
    }
    .intro h1{
        line-height: 3.8rem;
        margin-top: 10vh;
    }
    .intro p{
        font-size: .9rem;
        margin-top: 5vh;
        line-height: 1.5rem;
    }
    .home .home-illustration{
        display: none;
    }

    .home .btn{
        width: 50%;
        height: 10%;
        text-align: center;
        margin-bottom: 0vh;
        margin-left: 20%;
        color: white;
    }
}
/*-----------------------------End of Home Div-----------------------------------------*/
/* ------------------------ Our services division -------------------------------------*/
#service-head
{
    position: relative;
    top: 2em;
    color: var(--primary-dark-bg);
    font-family: 'Oxygen';
    font-size:2.5rem;
    text-align: center;
}
.services
{
    position: relative;
    top:7em;
    display:block;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    /* background-color: #0a0e27; */

}
.services1,.services2
{
    display:inline-flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}


#investment,#portfolio,#stocks,#classes,#research,#desk
{
    display: block;
    height: 15rem;
    width: 11rem;
    text-align: center;
    /* box-shadow: 2px 4px 10px #41455b; */

}

.icon
{
    
    height:5rem;
    width: 5rem;
    transition: all 0.2s ease-in;
    
}



.description
{
   text-align:justify;
   padding: 0.6rem;
   display: none;
}

.arrow
{
    position: relative;
    height: 1.7rem;
    width: 1.8rem;
    transition: all 0.2s ease-in;
    transform: rotate(180 deg);
    
}

@media  screen and (max-width:1100px)
{
    .services
    {
        text-align: center;
        justify-content: space-around;

    }
    .services1,.services2
    {
        display: block;
        margin:auto auto;
    }
    #investment,#portfolio,#stocks,#classes,#research,#desk
    {
       margin: auto;

    }
    #service-head
    {   
        top:2.65em;
    }
    .arrow
    {
        display:none;
    }
    .description
    {
        display: block;
    }
}

/*------------------------------End of our services---------------------------------------*/
/*------------------------------Start of Why uS ?-----------------------------------------*/

.whyusdiv{
    background-color: #f1f1f1;
    padding-left: 30px;
    padding-bottom: 10vh;
    padding-top: 40px;
    margin-top: 100px;
    margin-bottom: 10vh;
}
.whyusdiv h1{
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5vw;
    color: var(--primary-dark-bg);
    font-family: 'Oxygen';
    font-size:2.5rem;
}

.hs{
    max-height: 50vh;
    display: flex;
    margin-left: 0px;
    margin-right: 20px;
    overflow: auto;
    overflow-y: hidden;
    padding-top: 10px;
    padding-bottom: 20px;
}
.hs .card{
    min-width:250px;
    min-height: 47vh;
    line-height: 110px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    font-size: var(--small-font);
}
.hs .card img{
    border-bottom: 1px solid darkblue;
    height: 27.5vh;
    margin: 10px;
    margin-bottom: 0;
}
.hs .card p{
    margin: 0;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
    max-lines: 2;
    line-height: 1;
}
.hs::-webkit-scrollbar{
    width: 0;
}

@media screen and (min-width:1365px)
{
    .hs {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .card:last-child{
        display: none;
    }
}
/*------------------------------End of Why uS ?---------------------------------------*/
/*------------------------------Registration form---------------------------------------*/


/*  Removes the ugly arrows on any number input field  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.pricings-and-form
{
    position: relative;
    display: flex;
    top: 8rem;
    height: 30rem;
    width: 80%;
    margin: auto auto;
    justify-content: space-between;
    /* box-shadow: 2px 2px 10px; */
    /* border: 1px solid black; */


}


.pricing{
    display: flex;
    flex-direction: column;
width: 50%;
/* border: 1px solid black; */

}


.registration-div
{

    width: 50%;
    border-left: 1px solid silver;
    /* border: 1px solid black; */
    
}
.reg-form {
    display: flex;
    margin: auto auto;
    /* padding: 1em; */
    align-items: flex-start;
    width: 80%;
    flex-direction: column;
}
.reg-form h2{
    position: relative;
    padding: 2rem;
    left: -2.1rem;
}
.reg-form input
{
    width: 100%;
    height: 3rem;
    padding-top: 1.3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid silver;
    
}
.reg-form label
{
    position: relative;
    top:-1.5rem;
    font-size:var(--small-font) ;
    pointer-events: none;
    transition:all 0.2s ease;
    
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    appearance: none;
    margin: 0;
}

.name:focus + .label-name, form input[name="name"]:valid + .label-name,
.phone:focus + .label-phone, form input[name="phone"]:valid + .label-phone,
.email:focus + .label-email, form input[name="email"]:valid + .label-email
{
    top:-3.2rem;
    font-size: 0.65rem;
    
    
}
.name:focus, .phone:focus, .email:focus
{
    border-bottom: 2px solid #2596be;
}

.my-btn
{
    width: 100%;
    background-color: var(--accent-btn-purple);
    color: #fff;
    border:1px solid var(--accent-btn-purple);
    font-size: 1.5rem;
    transition: 1s ease-in hover;
} 
.my-btn:hover{
    background-color: var(--accent-btn-hover);
    border:1px solid var(--accent-btn-hover);
}


.contacts
{
    position:relative;
    height: 5em;
    width: 100%;
    display:flex;
    text-align: center;
    justify-content:space-evenly;
}
.contact-item
{
    display: flex;
    flex-direction: column;
    

}
.contact-item img{
    
    margin: auto auto;
}
.contact-item p{
    font-size: 0.8rem;
    text-decoration: none;
}
.contact-item p a{
    text-decoration: none;
    color: #111;
    pointer-events: all;
}


.content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1.8rem 0 auto;
    width: 80%;
}
.content ul 
    {
        list-style: none;
    }

.content iframe
{
    height: 11em;
    width: 90%;
    margin: auto auto;
}
.content li{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media  screen and (max-width:800px) {
 
    .pricings-and-form
    {
        
       
        flex-direction: column-reverse;
        justify-content: space-around;
        height: fit-content;
        width: 100%;
        top:8em;
        box-shadow: none;
        /* background-color:var(--light-gray-blue); */
    }

    .registration-div
    {
        width: 95%;
        height: 30em;
        border: none;
        margin: auto auto;
        border-bottom:1px solid var(--blue);
    }
    .reg-form
    {
        margin: auto auto;
    }
    .pricing
    {
        width: 95%;
        height: 30em;
        display: flex;
        margin: auto auto;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .content {
        margin: auto auto;
        width: 80%;
    }
    .content ul 
    {
        list-style: none;
    }
    .contacts
    {
        display:flex;
        top:0;
        height: fit-content;
    }

    .my-btn{
        font-size: 1rem;
        margin-bottom: 6vh;
    }

    
    
}
