<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dashboardStyle.css">
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <title>Value Wealth</title>
</head>
<body>
    <header>
        
        <div class="top-header">
            <h3 class="org"> Value Wealth Creators</h4>
                <div class="container hamburger-btn" onclick="hamburger(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                  </div>
        </div>
        <div class="search">
            <form action="/dashboard" method="post">
                <button type="submit" > <img src="/images/search.svg" alt="search"> </button>
                <input type="text" name="search_name" placeholder="Search...">
                
            </input>
                
            </form>

            
        </div>
    </header>
    <br>
    <h2>Registered Users</h2>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <% customers.forEach(user=> { %>
        <tr>
            <td> <%=user.name%> </td>
            <td> <%=user.email%> </td>
            <td> <%=user.phone%> </td>
        </tr>
        <% }); %>
    </table>
</body>
</html>