<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Value Wealth</title>
</head>
<body>
    <h1>Registered Users</h1>
    <table>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
        </tr>
        <% customers.forEach(user=> { %>
        <tr>
            <td> <%=user.name%> </td>
            <td> <%=user.email%> </td>
            <td> <%=user.phone%> </td>
        </tr>
        <% }); %>
    </table>
</body>
</html>