<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/invalidRes.css">
    <title>Value Wealth</title>
</head>

<body>
    <p id="errorcodep">Error Code <%=errorCode%>
    </p>
    <img src="/images/<%=errorCode%>.svg" alt="errorCode">
    <div class="textdiv">
        <h1>
            <%=errorHeading%>
        </h1>
        <h3>
            <%=errorSubtext%>
        </h3>
        <p id="usefulp">You might find what you are looking for here </p>
        <div class="linkDiv">
            <a href="/">Home</a>
            <a href="/course">Course</a>
        </div>
    </div>
</body>

</html>